<div class="container">
    <%= simple_form_for(@project) do |f| %>
        <%= f.input :name %>
        <%= f.input :category%>
        <%= f.input :description %>
        <%= f.input :body %>
        <%= f.input :repo_link %>
        <%= f.button :submit, class: "btn-primary" %>
    <% end %>
</div>
