<div class="container">
    <h1>Projects</h1>
    <p>Find all the amazing projects right here</p>
    <div class="list-projects">
        <ul>
            <% @projects.each do |project| %>
                <li>Name: <%= link_to project.name, project_path(project) %>, Category <%= project.category %> <%= link_to 'edit', edit_project_path(project) %> | <%= link_to 'delete', project_path(project), method: :delete, data: {confirm: 'Are you sure that you want to delete this project?'}  %></li>
            <% end %>
        </ul>
    </div>
    <div class="new-project">
        <%= link_to 'Add new project', new_project_path %>
    </div>
</div>

